header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px; /* 로고 크기 */
    height: auto;
    margin-right: 10px; /* 로고와 텍스트 간격 */
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}



@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.util ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;
    font-family: 'TTLaundryGothicB';
}

.util ul li {
    padding: 0px 20px;
  }
  


/* 버튼도 다른 링크처럼 보이도록 스타일 추가 */
.btn-logout {
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    font-family: 'TTLaundryGothicB';
    padding: 0;
    margin: 0;
    font-size: 20px;
}