.userInfoContainer {
    display: flex; /* 플렉스 컨테이너 설정 */
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 11px;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
}

.userProfile {
    flex-basis: 30%; /* 전체 컨테이너의 30%를 차지하도록 설정 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: lightgray;
    border-radius: 11px;
    margin-right: 20px; /* 오른쪽 여백 추가 */
}

.profileImage {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px; /* 이미지 아래 여백 */
}

.userInfoForm {
    flex-basis: 70%; /* 전체 컨테이너의 70%를 차지하도록 설정 */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 11px;
}

.userInfo-title {
    padding: 15px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

/* 사용자 정보 폼 레이아웃 */
.userInfo-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center; /* 입력 폼 및 버튼을 가운데 정렬 */
}

/* 각 입력 필드 및 레이블 정렬 */
.userInfo-form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userInfo-form label {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

.userInfo-form input {
    width: 500px;
    max-width: 100%;
    padding: 1rem;
    border-radius: 9px;
    border: 1px solid lightgray;
    text-align: center;
}

.userInfoBtn--form {
    background-color: lightseagreen;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    width: 500px;
    max-width: 100%;
    align-self: center;
}

.userInfoBtn--form:hover {
    background-color: red;
    color: white;
}

/* 파일 업로드 및 버튼 스타일 */
.uploadLabel, .uploadButton {
    margin-top: 30px;
    background-color: lightseagreen;
    color: white;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size : 16px;
}

.uploadLabel:hover, .uploadButton:hover {
    background-color: white;
    color: lightseagreen;
}

.uploadInput {
    display: none;
}
